<!DOCTYPE html>
<html>
<head>
  <title>Beer Napkin</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Coming Soon']
      }
    });
  </script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="navbar" class="row">
    <div class="col-xs-12">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <div id="user" class="pull-right">
        <% if signed_in? %>
          <img class="img-rounded" src="<%= current_user.image %>" alt="avatar image" />
          <%= current_user.username %>
          <a href="/session/sign_out">Log Out</a>
        <% else %>
          <a href="/users/auth/github">Log In w/ Github</a>
        <% end %>
      </div>
    </div>
  </div>
  <%= yield %>
</body>
</html>
