<!DOCTYPE html>
<html>
<head>
  <title>Beer Napkin</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Amatic+SC:400,700:latin,latin-ext']
      }
    });
  </script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="navbar" class="navbar navbar-default navbar-static-top">
      <a href="/"><img id="logo" src="<%= image_path('logo.png') %>" alt="Beer Napkin Logo" /></a>
      <%= link_to new_napkin_path, class: 'btn btn-primary btn-lg', id: 'new-napkin' do %>
        <i class="fa fa-plus"></i> New Napkin
      <% end %>
      <div id="user" class="pull-right">
        <% if signed_in? %>
          <span id="user-control" data-toggle="dropdown" class="pull-right dropdown dropdown-toggle">
            <div class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <img src="<%= current_user.image %>" class="img-rounded user-img">
              <span><%= current_user.username %></span>
            </div>
            <ul class="dropdown-menu">
              <li>
                <!--TODO: why doesn't this work without the onclick? -->
                <a href="/session/sign_out" onclick="window.location.href='/session/sign_out'">
                  <i class="fa fa-sign-out"></i> Log out
                </a>
              </li>
            </ul>
          </span>
        <% else %>
          <a class="btn btn-default" href="/users/auth/github"><i class="fa fa-github"></i> Log In w/ Github</a>
        <% end %>
      </div>
      <% if show_editor_buttons? %>
        <div id="editor-buttons" class="btn-group pull-right">
          <button title="undo" class="btn btn-default" type="button" id="undo"><i class="fa fa-undo"></i></button>
          <button title="redo" class="btn btn-default" type="button" id="redo"><i class="fa fa-rotate-right"></i></button>
          <button title="duplicate" class="btn btn-default" type="button" id="duplicate-object"><i class="fa fa-copy"></i></button>
          <button title="send to back" class="btn btn-default" type="button" id="send-to-back"><i class="fa fa-level-down"></i></button>
          <button title="bring to front" class="btn btn-default" type="button" id="bring-to-front"><i class="fa fa-level-up"></i></button>
          <button title="remove object" class="btn btn-default" type="button" id="remove-active-object"><i class="fa fa-trash"></i></button>
        </div>
      <% end %>
  </div>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <%= yield %>
</body>
</html>
